
body{
    background: linear-gradient(#7ad1ff, #3a99de) fixed;
      padding:40px;
      font-family: 'Rubik', sans-serif;
      margin:0;
    }

.container {
    max-width: 800px;
    
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: seashell;

}

.product-info {
    margin-bottom: 20px;
    font-size: 19px;
}

.product-info h2 {
    color: #333;
    font-size: 25px;
    margin-bottom: 10px;
}

.product-info p {
    margin: 5px 0;
}

.add-to-cart-form {
    display: flex;
    align-items: center;
}

.add-to-cart-form label {
    margin-right: 10px;
}

.add-to-cart-form input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.add-to-cart-form button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-form button:hover {
    background-color: #0056b3;
}


.add_disp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div2{
    padding: 10px;
}
.div1{
    display: flex;
    flex-direction: column;
}

button{
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation-buttons {
    margin-top: 20px; /* Add margin to separate from the container */
    text-align: center; /* Align buttons to the center */
}

.navigation-buttons .button {
    padding: 10px 20px; /* Adjust button padding */
    margin: 0 10px; /* Add margin between buttons */
    background-color:black;
    color: #fff;
    text-decoration: none; /* Remove underline */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation-buttons .button:hover {
    background-color: white;
    color: black;
}
